*{
    margin: 0;
    padding: 0;
}

.Navbar-container{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 124, 124);
    color: bisque;
}